# Lives in "/home/software/.config/systemd/user"
# Enable with: systemctl --user enable --now boot_shutdown_alert.service

[Unit]
Description=Send ntfy notification on startup and shutdown
After=network-online.target
Wants=network-online.target
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/sh -c '/usr/bin/curl -s -d "🔌 Whale Server - $(hostname) has booted up." https://ntfy.sh/whale_server_1'
ExecStop=/bin/sh -c '/usr/bin/curl -s -d "💤 Whale Server - Shutting down $(hostname)." https://ntfy.sh/whale_server_1'

[Install]
WantedBy=default.target
